.title {
  font-size: 3.2rem;
  text-transform: capitalize;
  font-weight: 300;
  color: #fff;
  margin-bottom: 2.5rem;
}

.ul {
  list-style-type: none;
  display: flex;
}

.li {
  margin-right: 4rem;
  position: relative;
}

.span {
  transition: filter 0.8 ease;
  cursor: pointer;
}

.span:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.img {
  border-radius: 1rem;
  position: relative;
}

.alignmentInformation {
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
  color: #fff;
}

.itemCategory {
  display: flex;
  align-items: center;
  margin-right: 1.8rem;
}

.icon {
  margin-right: 0.6rem;
}

.informationList {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.itemList {
  margin-right: 2.4rem;
  color: rgba(255, 255, 255, 0.6);

  &:first-child {
    list-style-type: none;
  }
}

.trendingTitle {
  font-size: 2.4rem;
  font-weight: 550;
}

.bookmarkEmptyContainer {
  position: absolute;
  top: 1.6rem;
  right: 2.4rem;
  background-color: rgba(8, 31, 92, 0.3);
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
