.section {
  margin-top: 4rem;
  width: 100%;
  padding-right: 2rem;
  color: #fff;
}

.h1 {
  font-size: 3.6rem;
  line-height: 1;
  letter-spacing: 0.2;
  font-weight: 300;
  margin-bottom: 3.2rem;
}
