.bookmarkFullRecommendContainer {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: rgba(8, 31, 92, 0.3);
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
